extends layouts/default.pug

block content
  h1.menu-title Menu of Instruction
  
  section.menu
    h2 Basic
    section.menu-info
      .menu-info__instruction-item
        .menu-info__header
          .menu-info__title Introduction
          .menu-info__time 5 minutes
        .menu-info__description
          ul
            li identify the Personal Librarian
            li know Library’s services
        .menu-info__button
          button(onclick="showDetails(this)") 
            span Learn More
        .menu-info__details
          h4 Learn:
          p Librarian explains what reference sources are and their usefulness.
          h4 Remember:
          p Librarian quizzes, discusses with students major points and confusion with reference sources
          h4 Do:
          p Students create Mind-Map based on their topic/research question on a piece of paper
          p Find at least a couple of articles from Credo or other reference source

      .menu-info__instruction-item
        .menu-info__header
          .menu-info__title Background Information
          .menu-info__time 15 minutes
        .menu-info__description
          ul
            li search the Credo database
            li use the Mind Map feature
        .menu-info__button 
          button(onclick="showDetails(this)") 
            span Learn More
        .menu-info__details
          h4 Learn:
          p Librarian explains what reference sources are and their usefulness.
          h4 Remember:
          p Librarian quizzes, discusses with students major points and confusion with reference sources
          h4 Do:
          p Students create Mind-Map based on their topic/research question on a piece of paper
          p Find at least a couple of articles from Credo or other reference source

      .menu-info__instruction-item
        .menu-info__header
          .menu-info__title Introduction
          .menu-info__time 5 minutes
        .menu-info__description
          ul
            li identify the Personal Librarian
            li know Library’s services
        .menu-info__button
          button(onclick="showDetails(this)") 
            span Learn More
        .menu-info__details
          h4 Learn:
          p Librarian explains what reference sources are and their usefulness.
          h4 Remember:
          p Librarian quizzes, discusses with students major points and confusion with reference sources
          h4 Do:
          p Students create Mind-Map based on their topic/research question on a piece of paper
          p Find at least a couple of articles from Credo or other reference source


      .menu-info__instruction-item
        .menu-info__header
          .menu-info__title Background Information
          .menu-info__time 15 minutes
        .menu-info__description
          ul
            li search the Credo database
            li use the Mind Map feature
        .menu-info__button 
          button(onclick="showDetails(this)") 
            span Learn More
        .menu-info__details
          h4 Learn:
          p Librarian explains what reference sources are and their usefulness.
          h4 Remember:
          p Librarian quizzes, discusses with students major points and confusion with reference sources
          h4 Do:
          p Students create Mind-Map based on their topic/research question on a piece of paper
          p Find at least a couple of articles from Credo or other reference source

    h2 Advanced
    section.menu-info
      .menu-info__instruction-item
        .menu-info__header
          .menu-info__title Introduction
          .menu-info__time 5 minutes
        .menu-info__description
          ul
            li identify the Personal Librarian
            li know Library’s services
        .menu-info__button
          button(onclick="showDetails(this)") 
            span Learn More
        .menu-info__details
          h4 Learn:
          p Librarian explains what reference sources are and their usefulness.
          h4 Remember:
          p Librarian quizzes, discusses with students major points and confusion with reference sources
          h4 Do:
          p Students create Mind-Map based on their topic/research question on a piece of paper
          p Find at least a couple of articles from Credo or other reference source

      .menu-info__instruction-item
        .menu-info__header
          .menu-info__title Background Information
          .menu-info__time 15 minutes
        .menu-info__description
          ul
            li search the Credo database
            li use the Mind Map feature
        .menu-info__button 
          button(onclick="showDetails(this)") 
            span Learn More
        .menu-info__details
          h4 Learn:
          p Librarian explains what reference sources are and their usefulness.
          h4 Remember:
          p Librarian quizzes, discusses with students major points and confusion with reference sources
          h4 Do:
          p Students create Mind-Map based on their topic/research question on a piece of paper
          p Find at least a couple of articles from Credo or other reference source

      .menu-info__instruction-item
        .menu-info__header
          .menu-info__title Introduction
          .menu-info__time 5 minutes
        .menu-info__description
          ul
            li identify the Personal Librarian
            li know Library’s services
        .menu-info__button
          button(onclick="showDetails(this)") 
            span Learn More
        .menu-info__details
          h4 Learn:
          p Librarian explains what reference sources are and their usefulness.
          h4 Remember:
          p Librarian quizzes, discusses with students major points and confusion with reference sources
          h4 Do:
          p Students create Mind-Map based on their topic/research question on a piece of paper
          p Find at least a couple of articles from Credo or other reference source


      .menu-info__instruction-item
        .menu-info__header
          .menu-info__title Background Information
          .menu-info__time 15 minutes
        .menu-info__description
          ul
            li search the Credo database
            li use the Mind Map feature
        .menu-info__button 
          button(onclick="showDetails(this)") 
            span Learn More
        .menu-info__details
          h4 Learn:
          p Librarian explains what reference sources are and their usefulness.
          h4 Remember:
          p Librarian quizzes, discusses with students major points and confusion with reference sources
          h4 Do:
          p Students create Mind-Map based on their topic/research question on a piece of paper
          p Find at least a couple of articles from Credo or other reference source