extends layouts/default.pug

block content
  h1.menu-title Menu of Instruction
  
  section.menu
    section.menu-basic
      .menu-basic__instruction-item
        .menu-basic__header
          .menu-basic__title Introduction
          .menu-basic__time 5 minutes
        .menu-basic__description
          ul
            li identify the Personal Librarian
            li know Library’s services
        .menu-basic__button 
          button 
            span Learn More

      .menu-basic__instruction-item
        .menu-basic__header
          .menu-basic__title Background Information
          .menu-basic__time 15 minutes
        .menu-basic__description
          ul
            li search the Credo database
            li use the Mind Map feature


      .menu-basic__instruction-item

      .menu-basic__instruction-item


    section.menu-advanced advanced

    section.menu-special special