extends layouts/default.pug

block content
  h1.menu-title Menu of Instruction
  
  section.menu
    h2 Basic
    section.menu-info
      .menu-info__instruction-item
        .menu-info__header
          .menu-info__title Introduction
          .menu-info__time 5 minutes
        .menu-info__description
          ul
            li identify the Personal Librarian
            li know Library’s services
            
      .menu-info__instruction-item
        .menu-info__header
          .menu-info__title Developing a Research Strategy
          .menu-info__time 10 minutes
        .menu-info__description
          ul
            li formulate a focused, clear, relevant research question
        .menu-info__button 
          button(onclick="showDetails(this)") 
            span Learn More
        .menu-info__details
          h4 Learn:
          p Short presentation on how to formulate a good research question
          h4 Remember:
          p Quiz students on what are the points of a good research question
          h4 Do:
          p Use the basic HoyaSearch skills to check the literature

      .menu-info__instruction-item
        .menu-info__header
          .menu-info__title Background Information
          .menu-info__time 10 minutes
        .menu-info__description
          ul
            li search the Credo database
            li use the Mind Map feature to create meaningful connections between concepts
        .menu-info__button 
          button(onclick="showDetails(this)") 
            span Learn More
        .menu-info__details
          h4 Learn:
          p Librarian explains what reference sources are and their usefulness.
          h4 Remember:
          p Librarian quizzes, discusses with students major points and confusion with reference sources
          h4 Do:
          p Students create Mind-Map based on their topic/research question on a piece of paper
          p Find at least a couple of articles from Credo or other reference source

      .menu-info__instruction-item
        .menu-info__header
          .menu-info__title HoyaSearch
          .menu-info__time 15 minutes
        .menu-info__description
          ul
            li search for books and articles
            li find them online
            li locate physical items with a call number
        .menu-info__button
          button(onclick="showDetails(this)") 
            span Learn More
        .menu-info__details
          h4 Learn:
          p Librarian short presentation of what federated search engine is and its features
          h4 Remember:
          p Librarian quizzes/discusses with students the concept and features of HoyaSearch to make sure they remember basic information
          h4 Do:
          p Ask students to search and find book/article  based on research question keywords
          p If in the library, students can roam the shelves

      .menu-info__instruction-item
        .menu-info__header
          .menu-info__title Primary Sources
          .menu-info__time 15 minutes
        .menu-info__description
          ul
            li define what is a primary source
            li use the library and the internet to locate primary sources
            li distinguish between primary and secondary sources
        .menu-info__button 
          button(onclick="showDetails(this)") 
            span Learn More
        .menu-info__details
          h4 Learn:
          p Students are introduced to the concept of primary sources and their difference from secondary. Next, they are shown where they can find these materials in the library and the internet
          h4 Remember:
          p Students do a quick quiz on what is a primary vs. secondary source and where they can find it in the library
          h4 Do:
          p Students work with a primary sources database to find a material, view/read/summarize it and cite it
               
      .menu-info__instruction-item
        .menu-info__header
          .menu-info__title Citing
          .menu-info__time 20 minutes
        .menu-info__description
          ul
            li know where to look for assistance with citation
            li read citations
            li find machine generated citations and correct the mistakes, if any
            li understand what copyright is, why it’s important, and when it is applicable
            li understand that they need to cite even information that might be in the public domain but not information that is common knowledge
        .menu-info__button 
          button(onclick="showDetails(this)") 
            span Learn More
        .menu-info__details
          h4 Learn:
          p Short presentation on proper citing and avoiding plagiarism, what automated tools are available in HoyaSearch, and how to correct mistakes
          h4 Remember:
          p Quiz students on the necessary components of a citation/reference entry
          h4 Do:
          p Ask students to build a citation for a book, article, newspaper story, etc.

    h2 Advanced
    section.menu-info
      .menu-info__instruction-item
        .menu-info__header
          .menu-info__title Expert HoyaSearch
          .menu-info__time 30 minutes
        .menu-info__description
          ul
            li break down the research question and extract the concepts
            li find related keywords using reference sources
            li Combine search terms
            li search HoyaSearch for a variety of content (e- Books, peer-reviewed articles, etc.) locate and download the full text
            li Apply subject terms in the search
            li copy citations from HoyaSearch records
        .menu-info__button
          button(onclick="showDetails(this)") 
            span Learn More
        .menu-info__details
          h4 Learn:
          p Short presentation on Field search, Boolean operators and Subject search. Also, how to save results and searches to account and how to export citations to Refworks
          h4 Remember:
          p Ask students how field search would work with combination of Boolean operators and how they can retrieve and then change their search query
          h4 Do:
          p Find at least X sources (maybe of different type) related to their research question

      .menu-info__instruction-item
        .menu-info__header
          .menu-info__title Evaluate (CRAAP)
          .menu-info__time 20 minutes
        .menu-info__description
          ul
            li evaluate information sources for Currency, Relevance, Authority, Accuracy and Purpose
            li distinguish between scholarly and popular sources
        .menu-info__button
          button(onclick="showDetails(this)") 
            span Learn More
        .menu-info__details
          h4 Learn:
          p Short presentation on what CRAAP is
          h4 Remember:
          p Quiz students on what the acronym means
          h4 Do:
          p Apply an activity where students will need to evaluate sources
                    
      .menu-info__instruction-item
        .menu-info__header
          .menu-info__title News
          .menu-info__time 15 minutes
        .menu-info__description
          ul
            li locate newspaper and magazine articles using HoyaSearch
            li search specialized databases for newspaper and magazine content
            li set up alerts and feeds on topics of interest (if possible)
        .menu-info__button 
          button(onclick="showDetails(this)") 
            span Learn More
        .menu-info__details
          h4 Learn:
          p Students are introduced to the concept of news resources, how they are created and how reliable they are. They are also shown where to find news in the library (HoyaSearch and News Databases)
          h4 Remember:
          p Student complete a short quiz on what is the production process of news and 3 different ways to find them in the library (HoyaSearch filter, Journal Search, Databases)
          h4 Do:
          p Based on a news issue that was dominant a while ago or their research topic, find newspaper articles in any of the locations of the library
                                        
      .menu-info__instruction-item
        .menu-info__header
          .menu-info__title Subject Databases
          .menu-info__time 30 minutes
        .menu-info__description
          ul
            li identify database type based on information need (dataset, image, peer-reviewed journals, etc)
            li use advanced search features and techniques
            li Set email alerts for selected journals
            li explore and take advantage of other specialized features for specific databases
        .menu-info__button 
          button(onclick="showDetails(this)") 
            span Learn More
        .menu-info__details
          h4 Learn:
          p Short presentation on what is a subject database, what it contains and how it is organized, any special features available, what is its usefulness and how it is different from HoyaSearch.
          h4 Remember:
          p Librarian quizzes students on the defining features of subject database(s)
          h4 Do:
          p Students will use the database(s) to find materials according to their research topic

    h2 Specialized
    section.menu-info
      .menu-info__instruction-item
        .menu-info__header
          .menu-info__title Expert Google Scholar Search
          .menu-info__time 25 minutes
        .menu-info__description
          ul
            li use the advanced search feature of Google Scholar
            li Apply forward and backward citation search
            li Set connection to the home library
            li Refine search results
        .menu-info__button 
          button(onclick="showDetails(this)") 
            span Learn More
        .menu-info__details
          h4 Learn:
          p Explain how advanced search works and other tips (asterisk, search within cited works etc)
          h4 Remember:
          p Ask students if they remember to repeat some major points of advanced features
          h4 Do:
          p Search for articles on their assignment, create their own digital library with labels in and set up alerts
                    
      .menu-info__instruction-item
        .menu-info__header
          .menu-info__title Refworks/Zotero
          .menu-info__time 45 minutes
        .menu-info__description
          ul
            li add/grab/export references from HoyaSearch, Google Scholar or other websites
            li organize references by folders
            li cite while they write
            li create bibliography
            li share references
        .menu-info__button 
          button(onclick="showDetails(this)") 
            span Learn More
        .menu-info__details
          h4 Learn:
          p ...
          h4 Remember:
          p ...
          h4 Do:
          p ...
                                                  
      .menu-info__instruction-item
        .menu-info__header
          .menu-info__title Multimedia & Copyright Guidelines
          .menu-info__time 30 minutes
        .menu-info__description
          ul
            li navigate specialized library databases for multimedia content
            li navigate and evaluate an assortment of open access multimedia databases for multimedia content
            li understand the unique aspects of copyright and multimedia content
        .menu-info__button 
          button(onclick="showDetails(this)") 
            span Learn More
        .menu-info__details
          h4 Learn:
          p Librarian presents information about public domain, licensing statement, Fair Use and where students can find freely available multimedia. Also, mentions copyright of photos of objects taken by students. 
          h4 Remember:
          p Librarian quizzes students on the main points of copyright
          h4 Do:
          p Find multimedia objects in a library database/online for a specific topic
                                                            
      .menu-info__instruction-item
        .menu-info__header
          .menu-info__title Data and Dataset searching
          .menu-info__time 30 minutes
        .menu-info__description
          ul
            li Use specialized library databases to find datasets according to information need
            li Find, evaluate and use openly accessible datasets
            li Explore data visualization options
        .menu-info__button 
          button(onclick="showDetails(this)") 
            span Learn More
        .menu-info__details
          h4 Learn:
          p Librarian explains the concept of open (government) data and gives general directions on where students can usually find them and what they should be aware of regarding usage rights and evaluation. Also demonstrates the various ways data can be downloaded and visualized.
          h4 Remember:
          p Librarian repeats main points about data access and evaluation
          h4 Do:
          p Students find, download, and visualize datasets from a suitable database related to their research question