.menu-title {
  font-size: 2.2rem;
  padding: 0.5rem 1rem;

  background-color: $color-tertiary;
  color: $color-primary;

  border-radius: 5px 5px 0 0;

  @include sm {
    font-size: 1.6rem;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-family: Arial, sans-serif;

  h2 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  }

  h2:not(:first-child) {
    margin-top: 1rem;
  }
}

.menu-info,
.menu-advanced,
.menu-special {
  margin: 0;
}

.menu-info {
  $self: &;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__instruction-item {
    // border: 1px solid $color-tertiary;
    // margin: 1rem;
    flex: 0 0 49%;
    // display: flex;
    // flex-direction: column;
    margin-bottom: 1rem;

    @include sm {
      flex: 0 0 100%;
    }

    #{$self}__header {
      border: 1px solid $color-tertiary;
      border-bottom: none;
      padding: 0.5rem 1rem;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      #{$self}__title {
        font-size: 1.8rem;
      }

      #{$self}__time {
        font-size: 1.2rem;
      }
    }
    
    #{$self}__description {
      border: 1px solid $color-tertiary;
      border-top: none;
      padding: 0.5rem 1rem;

      ul {
        font-size: 1.3rem;
        margin-left: 2rem;
      }
    }

    #{$self}__button {
      border: 1px solid $color-tertiary;
      // padding: 0.5rem 1rem;

      button {
        border: none;
        outline: none;
        background-color: $color-primary;
        color: $color-white;
        display: block;
        width: 100%;
        padding: 0.4rem 1rem;
        text-align: right;
        cursor: pointer;

        span::after {
          display: inline-block;
          content:"\203A";
          transform: rotate(90deg);
          margin-left: 1rem;
          font-weight: 900;
          font-size: 1.25rem;
        }
      }
    }

    #{$self}__details {
      border: 1px solid $color-tertiary;
      padding: 0 1rem 0.5rem;
      flex: 0;
      // transform: translateY(-40rem);
      display: none;

      h4 {
        font-size: 1.3rem;
        font-weight: 600;

        &:first-child {
          margin-top: 0.5rem;
        }
      }

      p {
        font-size: 1.2rem;

        &:not(:last-child) {
          margin-bottom: 0.8rem;
        }
      }
    }
  }
}