* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
  line-height: 1.6;
}

section.main {
  max-width: 88rem;
  margin: 2rem auto;
  background-color: #FFF;
  border: 1px solid $color-secondary;
  box-shadow: 0 8px 6px -6px rgba($color-black, 0.2);
  border-radius: 5px;
  min-height: 90vh;
}

